<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" href="/favicon.png">
		<title>{{page.title}}</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/min-css/normalize-min.css" media="screen"> 
		<!-- Normalize.css - CSS Reset-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/css/styles.css" media="screen">
		<!-- Add your styles here -->
		<!--[if IE 8]> <link rel="stylesheet" type="text/css" href="stylesheets/css/ie8.css" media="screen"> <![endif] --> 
		<!-- Add IE8 Styles here -->
	</head> <!-- end of head -->
	<body>
		<div id="wrapper">